/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-align: center;
  color: #333;
}

form {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: white;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

div {
  max-width: 600px;
  margin: 0 auto;
}

p {
  text-align: center;
  color: #666;
}

h2 {
  margin-top: 40px;
}

@media (max-width: 600px) {
  form,
  div {
    margin: 10px;
    padding: 10px;
  }
}
